@import '../../assets/fonts/stylesheet.css'

.card
    position: relative
    display: grid
    grid-template-rows: 1fr 15%

    font-family: 'Programme', sans-serif
    :lang(ar)
        font-family: 'Inter', sans-serif

    .background, .shade
        position: absolute
        inset: 0
        width: 100%
        height: 100%

    .plain-background
        width: 100%
        height: 100%
        background-size: 20px
        background-position: top-left

    .background
        grid-row: 1/2

        background-color: #dadada

        background-size: cover
        background-position: center

        z-index: 2

        overflow: hidden

    .shade
        grid-row: 1/2

        background: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0) 100%)

        z-index: 3

        pointer-events: none

    .pushdown
        position: relative
        flex-grow: 1
        z-index: -5

    .lyrics
        grid-row: 1/2

        align-self: flex-end

        display: flex
        flex-direction: column
        align-items: flex-start

        gap: 5px
        padding: 1rem

        .bar
            background-color: white
            color: black
            width: fit-content
            padding: 2.5px 5px

            font-size: 1.5rem

    main
        z-index: 4
        position: relative

    footer
        grid-row: 2/3

        width: 100%

        padding: 0 2rem

        display: flex
        justify-content: space-between
        align-items: center

        text-transform: uppercase
        .info
            display: flex
            flex-wrap: wrap
            .artist
                &::after
                    content: ","
                    margin: 0 5px 0 0
            .song
                &::before,
                &::after
                    content: "\""

        .logo
            justify-self: flex-end
            height: 30%
