

/* 300, TODO: remove */
@font-face {
    font-family: 'Programme';
    src: local('Programme Light Italic'), local('Programme-LightIta'),
        url('Programme-LightIta.woff2') format('woff2'),
        url('Programme-LightIta.woff') format('woff'),
        url('Programme-LightIta.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* TODO: remove */
@font-face {
    font-family: 'Programme';
    src: local('Programme Light'), local('Programme-Light'),
        url('Programme-Light.woff2') format('woff2'),
        url('Programme-Light.woff') format('woff'),
        url('Programme-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


/* (bold) 600 (originally 700) */
@font-face {
    font-family: 'Programme';
    src: local('Programme Bold'), local('Programme-Bold'),
        url('Programme-Bold.woff2') format('woff2'),
        url('Programme-Bold.woff') format('woff'),
        url('Programme-Bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Programme';
    src: local('Programme Bold Italic'), local('Programme-BoldIta'),
        url('Programme-BoldIta.woff2') format('woff2'),
        url('Programme-BoldIta.woff') format('woff'),
        url('Programme-BoldIta.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}


/* (normal) 500 */
@font-face {
    font-family: 'Programme';
    src: local('Programme'), local('Programme-Regular'),
        url('Programme-Regular.woff2') format('woff2'),
        url('Programme-Regular.woff') format('woff'),
        url('Programme-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Programme';
    src: local('Programme Regular Italic'), local('Programme-RegularIta'),
        url('Programme-RegularIta.woff2') format('woff2'),
        url('Programme-RegularIta.woff') format('woff'),
        url('Programme-RegularIta.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}