@import "tailwindcss/base"
@import "tailwindcss/components"
@import "tailwindcss/utilities"

:root
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif

*
  box-sizing: border-box
  margin: 0
  padding: 0
