@import "tailwindcss/base"
@import "tailwindcss/components"
@import "tailwindcss/utilities"

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap')

:root
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif

*
  box-sizing: border-box
  margin: 0
  padding: 0

body
  background-color: #f7f7f7

/* Style the scrollbar for WebKit browsers */
::-webkit-scrollbar
  width: 5px

::-webkit-scrollbar-track
  background-color: #f1f1f1

::-webkit-scrollbar-thumb
  background-color: #c2c2c2
  border-radius: 15px

::-webkit-scrollbar-thumb:hover
  background-color: #a7a7a7

/* Style the scrollbar for Firefox */
::-moz-scrollbar
  width: 10px

::-moz-scrollbar-track
  background-color: #f1f1f1

::-moz-scrollbar-thumb
  background-color: #c2c2c2
  border-radius: 15px

::-moz-scrollbar-thumb:hover
  background-color: #a7a7a7

button
  &:active
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important
    -webkit-user-select: none !important
    -moz-user-select: none !important
    -ms-user-select: none !important
    user-select: none !important
    outline: none !important

.fl-lyrics-viewer-bars
  font-size: 0.8125rem
  font-size: clamp(0.8125rem, 0.7125rem + 0.4vw, 1rem)

.fl-b
  font-size: 0.875rem
  font-size: clamp
.fl-card-lyrics
  font-size: 0.875rem
  font-size: clamp(0.875rem, 0.349rem + 2.105vw, 1.125rem)

.fl-card-footer
  font-size: 0.75rem
  font-size: clamp(0.75rem, 0.224rem + 2.105vw, 1rem)

@layer base
  img
    @apply inline-block

.downloading
  .hide-when-download
    display: none

// .react-transform-wrapper,
// .react-transform-component
//   width: 100% !important
//   height: 100% !important
