@import "tailwindcss/base"
@import "tailwindcss/components"
@import "tailwindcss/utilities"

:root
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif

*
  box-sizing: border-box
  margin: 0
  padding: 0

/* Style the scrollbar for WebKit browsers */
::-webkit-scrollbar
  width: 5px

::-webkit-scrollbar-track
  background-color: #f1f1f1

::-webkit-scrollbar-thumb
  background-color: #c2c2c2
  border-radius: 15px

::-webkit-scrollbar-thumb:hover
  background-color: #a7a7a7

/* Style the scrollbar for Firefox */
::-moz-scrollbar
  width: 10px

::-moz-scrollbar-track
  background-color: #f1f1f1

::-moz-scrollbar-thumb
  background-color: #c2c2c2
  border-radius: 15px

::-moz-scrollbar-thumb:hover
  background-color: #a7a7a7
